
/**************************************** HEADER *****************************************/

.App-header a {
  color: hotpink;
}
.App-header {
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 200px 0 200px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:100;
}
.scroll{
  background-color: aqua;
}

/************************************* Aboutme and Travel with me *******************************************/

#App-aboutme, #App-travelwithme{ 
  margin: 0;
}
.aboutme-header, .travelwithme-header{
  display:flex;
  justify-content: center;
}
.aboutme-body, .travelwithme-body{
  display:flex;
  padding: 10px 10px 10px;
  background: #ff005c;
}
.image-box, .travelwithme-box{ 
display:flex;
padding-right: 10px;
justify-content: flex-start;
max-width: 100%;
}

.content{ 
  display:flex;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  padding-left:10px;
}

.app-container {
  display: flex;
  flex-direction: column;
}
/************************************* GALLERY *******************************************/

#App-gallery{
  margin: 0;
}

.gallery-header{
  display: flex;
  flex-direction:column;
  align-items: center;
}
.gallery-header1{
   margin: 0px;
}
.gallery-body
{  
  justify-content: space-between;
  /* position: relative; */
  background: #26a59a;
  display: flex;
  padding: 10px;
}
.gallery-title{
  position: absolute;
  bottom: 20px;
  align-items: center;
  left: 20px;
  /* z-index: 2; */
  display: flex;
}
.gallery-1, .gallery-2, .gallery-3{
  position: relative;
  margin-right:10px;
  max-height:100%;
  font-size: 24px;
  text-shadow: 2px 2px 4px #fff 
}

.gallery-tile-info-1{
  /*position: absolute;
  z-index: 1;
  margin-top: 267px;*/
  margin-left: 10px;
}
.gallery-icon-1{
  /*position: absolute;
  z-index:1;
  margin-top: 255px;
  margin-left: -444px;*/
  height: 44px;
  
}
.gallery-tile-info-2{
  position: absolute;
  z-index: 1;
  margin-top: 265px;
  margin-left: -398px;
}
.gallery-icon-2{
  position: absolute;
  z-index:1;
  margin-top: 255px;
  margin-left: 20px;
  height: 44px;
}
.gallery-tile-info-3{
  position: absolute;
  z-index: 1;
  margin-top: 266px;
  margin-left: -395px;
}
.gallery-icon-3{
  position: absolute;
  z-index:1;
  margin-top: 255px;
  margin-left: -922px;
  height: 44px;
}
/************************************* Contact *******************************************/
#App-contact{
  margin: 0;
}

.contact-header{  
  margin: .5vw; 
  display:flex;
  justify-content: center;
}

.App-body {
  display: flex;
  background-color: beige;
  padding: 2em;
  justify-content: space-around;
}

.contact-name{
  height:57px;
  width:0;
}

.contact-email{
  height: 57px;
  width: 0;
}

.contact-subject{
  height: 57px;
  width: 0;
}

.contact-content {
  display: flex;
  flex-direction: column;
  width:300px;
}

.contact-button{
  background: gray;
   color: white;
   border: 0;
}

.mail-address{
  display: flex;
  flex-direction: column;
  white-space: pre;
  justify-content: space-around;
}
/************************************* follow me *******************************************/
#App-follow{
  margin: 0;
}

.follow-header{
  display:flex;
  justify-content: center;
}

.follow-content{
display:flex;
justify-content: center;
}

.insta-logo img{
  height:67px;
}

.facebook-logo img{
  height:67px;  

}
.px-logo img{
  height:41px;
  padding-top: 15px;
}
.pinterest-logo img{
  height:67px;
}

.App-footer{
  display:flex;
  justify-content:center;
}
