.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear; */
  /*display: flex; 
  justify-content: flex-end; */
  width:10%;
  display:block;
  margin: 0 auto; 
  max-height: 100%;

}

.App-header {
  /*background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; */
  flex: 0 0 auto;
  background-color: 'transparent';
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  width: 100%;
  z-index: 1;
}

.App-footer {
  position: 'relative';
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
