/*.App {
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  text-align: center;
}

.App-logo {
  
  /*justify-content: flex-end; 
       width:10%;
  display:block;
  margin: 0 auto; 
     max-height: 100%; */
     /*display: flex;
  justify-content:center;
  align-items:center;
  

}

.App-header {
   
  background-color: 'transparent';
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
    

}
ul{
  padding: 0;
  list-style: none;
  }
.nav{
  display: flex;
  justify-content:center;
  align-items:center;
}


.App-footer {
  position: 'relative';
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
*/
/**************************************** HEADER *****************************************/
.App-header {
display:flex;
align-items: center;
}
.App-header div{

}
.home{
flex:3;
display:flex;
justify-content: flex-end;
}
.about{
  flex:2;
  display:flex;
  justify-content: center;
}
.App-logo{
  flex:1;
}
.travel{
  flex:2;
  display:flex;
  justify-content: center;
}
.contact{
  flex:3;
}

/************************************* Aboutme *******************************************/
.App-aboutme, .App-travelwithme{ 
  margin: 0;
  font-display: sans-serif;
  background: #ff005c;

}
.aboutme-header, .travelwithme-header{
  display:flex;
  justify-content: center;
  
}
.aboutme-body, .travelwithme-body{
  display:flex;
  padding: 0 20px 20px;
}
.image-box, .travelwithme-box{ 
display:flex;
padding-right: 20px;
justify-content: flex-start;
max-width: 100%;
}

.content{ 
  display:flex;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  padding-left:20px;
}

.app-container {
  display: flex;
  flex-direction: column;
}
/************************************* GALLERY *******************************************/

.App-gallery{
  background: #00ffea;
  padding: 20px;
}

.gallery-header{
  display: flex;
  flex-direction:column;
  align-items: center;
}
.gallery-header1{
margin:-35px;
}
.gallery-body
{  
  display: flex;
  /*height: auto;
  
  /*padding-right: 20px;
  padding-bottom: 20px; */
}
.gallery-1{
  display: flex;
  margin-right:20px;
  max-height:100%;

}

.gallery-tile-info-1{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  font-size: 32px;
  margin-top: 359px;
  margin-left: 98px;
}
.gallery-icon-1,{
  position: absolute;
  z-index:1;
  margin-top: 337px;
  margin-left: 17px;

}
.gallery-tile-info-2{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  font-size: 32px;
  margin-top: 359px;
  margin-left: 719px;
}
.gallery-icon-2{
  position: absolute;
  z-index:1;
  margin-top: 337px;
  margin-left: 17px;
}
.gallery-tile-info-3{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  font-size: 32px;
  margin-top: 359px;
  margin-left: 1337px;
}
.gallery-icon-3{
  position: absolute;
  z-index:1;
  margin-top: 337px;
  margin-left: 17px;
}


.gallery-3{
  height:auto;
  width:auto;
  max-height:100%;
  max-width:100%;
  margin-right: 20px;
}
/************************************* Travel with me *******************************************/

/************************************* Contact *******************************************/

.contact-header{  
  margin: .5vw; 
  display:flex;
  justify-content: center;
  
}
.App-contact {
  display: flex;
  flex-direction: column;
  background-color: beige;
  padding: 2em;
 
}
.contact-email{
  width: 100%;
}
.contact-subject{
  width: 100%;
}
.contact-content {
  display: flex;
  flex-direction: column;
  order: 2;
}
.contact-email, 
.contact-subject,
.contact-button{
  padding: 1em;
  margin-bottom: 1em;
  
}
.contact-button{
  background: gray;
   color: white;
   border: 0;
}


/************************************* follow me *******************************************/